*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font1{
    font-family:  'Montserrat', sans-serif; 
}

header{
    background-color: none;
    height: 80px;
}

.main-container{
    width: 1000px;
    margin: auto;
}

.big-box{
    background: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
    height: 400px;
    margin-top: 20px;
    position: relative;
    border-radius: 4px;
}

.laterale-img{
    height: 180px;
    width: 200px;
}

.img-lats{
    background: url(img/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    width: 200px;
    height: 180px;
    background-size: 80%;
}

.img-latd{
    background: url(img/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    width: 200px;
    height: 180px;
    background-size: 90%;
}

.img-cen{
    background: url(img/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    width: 580px;
    height: 180px;
    background-size: 80%;
}


.big-box2{
    height: 400px;
    margin-top: 20px; 
}

.up{
    height: 50px;
    margin-bottom: 10px;
}

.bottom{
    display: block;
    margin-left: 480px;
    height: 30px;
    margin-top: 5px;
    margin: auto;
}

.logo{
    height: 60px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    padding: 20px;
    text-decoration: none;
    color: rgb(77, 77, 77);
    
}

nav ul li a:hover{
    color: blue;
    text-decoration: underline;
}

.titolo{
    font-size: 30;
}

.small{
    font-size: 15px;
}

.bianco{
    color: white;
}

.titoli{
    bottom: 30px;
    left: 20px;
    position: absolute;
    width: 600px;
}

.grey{
    opacity: 0.4;
    width: 1000px;
    height: 400px;
}



.laterale{
    height: 50%;
    margin: auto;
    display: block;
}

.spieg{
    margin-top: 5px;
    width: 165px;
    
}

.colonna{
    margin: auto;
    width: 165px;
}

img{
    border-radius: 4px;
}
.sxf{
    margin-left: 20px;
    margin-right: 20px;
}

.bb{
    font-size: 15px;
    margin-bottom: 5px;
}

.red{
    color: red;
}

.centrato{
    margin-left: 444px;
}

.gr{
    color: grey;
}

/* elementi inerenti al float */
.laterale-sx{
    float:left; 
   
    height: 330px;
    width: 20% ;
    margin-right: 10px;
}

.centrale{
   
    height: 330px;
    width: calc(60% - 20px) ;
    display: inline-table;
}

.laterale-dx{
    float:right; 

    height: 330px;
    width: 20% ;
    margin-left: 10px;
}